.version.a_level__product_design /* version checker */
{
	color: #000013;
	background-color: #28765E;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

#u2491
{
	z-index: 355;
	height: 62px;
	top: 0px;
}

#u2491-bw
{
	z-index: 355;
}

#u2492
{
	z-index: 356;
	height: 62px;
	top: 0px;
}

#u2492-bw
{
	z-index: 356;
}

#u2523
{
	z-index: 386;
	width: 84px;
	padding-bottom: 84px;
	margin-left: 19px;
}

#u2526
{
	z-index: 387;
	width: 84px;
	padding-bottom: 84px;
	top: 0px;
	left: 50%;
	margin-left: -491px;
}

#u2524
{
	z-index: 388;
	width: 80px;
	top: 2px;
	left: 50%;
	margin-left: -489px;
}

#pu2522-4
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: 113px;
	margin-top: -71px;
}

#u2522-4
{
	z-index: 382;
	width: 457px;
	min-height: 34px;
	top: 14px;
	left: 50%;
	margin-left: -397px;
}

#menuu2493
{
	z-index: 357;
	width: 419px;
	top: 14px;
	left: 50%;
	margin-left: 71px;
}

#u2494
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2497
{
	width: 97px;
	padding-bottom: 12px;
}

#u2497:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2500-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2497:hover #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497:active #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497.MuseMenuActive #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2501
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 99px;
}

#u2502
{
	width: 127px;
	padding-bottom: 12px;
}

#u2502:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502:active
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2504-4
{
	width: 80px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2502:hover #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502:active #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502.MuseMenuActive #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2508
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u2511
{
	width: 71px;
	padding-bottom: 12px;
}

#u2511:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511:active
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2514-4
{
	width: 24px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2511:hover #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511:active #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511.MuseMenuActive #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2515
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 301px;
}

#u2516
{
	width: 118px;
	padding-bottom: 12px;
}

#u2516:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2518-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2516:hover #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516:active #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516.MuseMenuActive #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu2736-3
{
	width: 0.01px;
	margin-top: -1px;
}

#u2736-3
{
	z-index: 2;
	width: 1020px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u4188-4
{
	z-index: 341;
	width: 1020px;
	min-height: 42px;
	background-color: transparent;
	line-height: 36px;
	color: #68667F;
	font-size: 30px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4188
{
	font-family: coda, sans-serif;
	font-weight: 400;
}

#slideshowu4157
{
	z-index: 5;
	width: 0.01px;
	height: 640px;
	margin-left: 20px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u4169
{
	position: absolute;
	width: 787px;
	height: 554px;
	background-color: transparent;
	top: 53px;
	left: 193px;
}

#u4169popup
{
	z-index: 6;
}

#u4170
{
	z-index: 7;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4399
{
	z-index: 9;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4408
{
	z-index: 11;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4417
{
	z-index: 13;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4426
{
	z-index: 15;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4435
{
	z-index: 17;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4444
{
	z-index: 19;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4453
{
	z-index: 21;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4462
{
	z-index: 23;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4471
{
	z-index: 25;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4480
{
	z-index: 27;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4489
{
	z-index: 29;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4498
{
	z-index: 31;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4507
{
	z-index: 33;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4516
{
	z-index: 35;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4525
{
	z-index: 37;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4534
{
	z-index: 39;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4543
{
	z-index: 41;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4552
{
	z-index: 43;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4561
{
	z-index: 45;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4570
{
	z-index: 47;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4579
{
	z-index: 49;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4588
{
	z-index: 51;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4597
{
	z-index: 53;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4606
{
	z-index: 55;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4615
{
	z-index: 57;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4624
{
	z-index: 59;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4633
{
	z-index: 61;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4642
{
	z-index: 63;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4651
{
	z-index: 65;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4660
{
	z-index: 67;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4669
{
	z-index: 69;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4678
{
	z-index: 71;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4687
{
	z-index: 73;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4696
{
	z-index: 75;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4705
{
	z-index: 77;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4714
{
	z-index: 79;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4723
{
	z-index: 81;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4732
{
	z-index: 83;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4741
{
	z-index: 85;
	width: 787px;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4170_clip,#u4399_clip,#u4408_clip,#u4417_clip,#u4426_clip,#u4435_clip,#u4444_clip,#u4453_clip,#u4462_clip,#u4471_clip,#u4480_clip,#u4489_clip,#u4498_clip,#u4507_clip,#u4516_clip,#u4525_clip,#u4534_clip,#u4543_clip,#u4552_clip,#u4561_clip,#u4570_clip,#u4579_clip,#u4588_clip,#u4597_clip,#u4606_clip,#u4615_clip,#u4624_clip,#u4633_clip,#u4642_clip,#u4651_clip,#u4660_clip,#u4669_clip,#u4678_clip,#u4687_clip,#u4696_clip,#u4705_clip,#u4714_clip,#u4723_clip,#u4732_clip,#u4741_clip
{
	overflow: hidden;
	width: 787px;
	height: 554px;
}

#u4170_img,#u4399_img,#u4408_img,#u4417_img,#u4426_img,#u4435_img,#u4444_img,#u4453_img,#u4462_img,#u4471_img,#u4480_img,#u4489_img,#u4498_img,#u4507_img,#u4516_img,#u4525_img,#u4534_img,#u4543_img,#u4552_img,#u4561_img,#u4570_img,#u4579_img,#u4588_img,#u4597_img,#u4606_img,#u4615_img,#u4624_img,#u4633_img,#u4642_img,#u4651_img,#u4660_img,#u4669_img,#u4678_img,#u4687_img,#u4696_img,#u4705_img,#u4714_img,#u4723_img,#u4732_img,#u4741_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u4179
{
	position: absolute;
	width: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 9px;
	top: 53px;
}

#u4179popup
{
	z-index: 87;
}

#u4180
{
	z-index: 88;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u4402
{
	z-index: 90;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 65px;
}

#u4411
{
	z-index: 92;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u4180.SSSlideLinkSelected,#u4402.SSSlideLinkSelected,#u4411.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4420
{
	z-index: 94;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 3px;
}

#u4429
{
	z-index: 96;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 65px;
}

#u4438
{
	z-index: 98;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 127px;
}

#u4420.SSSlideLinkSelected,#u4429.SSSlideLinkSelected,#u4438.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 42px -10000px 0px 0px;
}

#u4447
{
	z-index: 100;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 3px;
}

#u4456
{
	z-index: 102;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 65px;
}

#u4465
{
	z-index: 104;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 127px;
}

#u4447.SSSlideLinkSelected,#u4456.SSSlideLinkSelected,#u4465.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u4474
{
	z-index: 106;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 3px;
}

#u4483
{
	z-index: 108;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 65px;
}

#u4492
{
	z-index: 110;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 127px;
}

#u4474.SSSlideLinkSelected,#u4483.SSSlideLinkSelected,#u4492.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 126px -10000px 0px 0px;
}

#u4501
{
	z-index: 112;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 3px;
}

#u4510
{
	z-index: 114;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 65px;
}

#u4519
{
	z-index: 116;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 127px;
}

#u4501.SSSlideLinkSelected,#u4510.SSSlideLinkSelected,#u4519.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 168px -10000px 0px 0px;
}

#u4528
{
	z-index: 118;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 3px;
}

#u4537
{
	z-index: 120;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 65px;
}

#u4546
{
	z-index: 122;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 127px;
}

#u4528.SSSlideLinkSelected,#u4537.SSSlideLinkSelected,#u4546.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 210px -10000px 0px 0px;
}

#u4555
{
	z-index: 124;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 3px;
}

#u4564
{
	z-index: 126;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 65px;
}

#u4573
{
	z-index: 128;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 127px;
}

#u4555.SSSlideLinkSelected,#u4564.SSSlideLinkSelected,#u4573.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 252px -10000px 0px 0px;
}

#u4582
{
	z-index: 130;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 3px;
}

#u4591
{
	z-index: 132;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 65px;
}

#u4600
{
	z-index: 134;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 127px;
}

#u4582.SSSlideLinkSelected,#u4591.SSSlideLinkSelected,#u4600.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 294px -10000px 0px 0px;
}

#u4609
{
	z-index: 136;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 3px;
}

#u4618
{
	z-index: 138;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 65px;
}

#u4627
{
	z-index: 140;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 127px;
}

#u4609.SSSlideLinkSelected,#u4618.SSSlideLinkSelected,#u4627.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 336px -10000px 0px 0px;
}

#u4636
{
	z-index: 142;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 3px;
}

#u4645
{
	z-index: 144;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 65px;
}

#u4654
{
	z-index: 146;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 127px;
}

#u4636.SSSlideLinkSelected,#u4645.SSSlideLinkSelected,#u4654.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 378px -10000px 0px 0px;
}

#u4663
{
	z-index: 148;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 3px;
}

#u4672
{
	z-index: 150;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 65px;
}

#u4681
{
	z-index: 152;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 127px;
}

#u4663.SSSlideLinkSelected,#u4672.SSSlideLinkSelected,#u4681.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 420px -10000px 0px 0px;
}

#u4690
{
	z-index: 154;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 3px;
}

#u4699
{
	z-index: 156;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 65px;
}

#u4708
{
	z-index: 158;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 127px;
}

#u4690.SSSlideLinkSelected,#u4699.SSSlideLinkSelected,#u4708.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 462px -10000px 0px 0px;
}

#u4717
{
	z-index: 160;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 3px;
}

#u4726
{
	z-index: 162;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 65px;
}

#u4735
{
	z-index: 164;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 127px;
}

#u4717.SSSlideLinkSelected,#u4726.SSSlideLinkSelected,#u4735.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 504px -10000px 0px 0px;
}

#u4744
{
	z-index: 166;
	width: 52px;
	height: 32px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 546px;
	left: 3px;
}

#u4744.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 52px;
	height: 32px;
	min-height: 0px;
	margin: 546px -10000px 0px 0px;
}

#u4180_clip,#u4402_clip,#u4411_clip,#u4420_clip,#u4429_clip,#u4438_clip,#u4447_clip,#u4456_clip,#u4465_clip,#u4474_clip,#u4483_clip,#u4492_clip,#u4501_clip,#u4510_clip,#u4519_clip,#u4528_clip,#u4537_clip,#u4546_clip,#u4555_clip,#u4564_clip,#u4573_clip,#u4582_clip,#u4591_clip,#u4600_clip,#u4609_clip,#u4618_clip,#u4627_clip,#u4636_clip,#u4645_clip,#u4654_clip,#u4663_clip,#u4672_clip,#u4681_clip,#u4690_clip,#u4699_clip,#u4708_clip,#u4717_clip,#u4726_clip,#u4735_clip,#u4744_clip
{
	overflow: hidden;
	width: 52px;
	height: 32px;
}

#u4180_img,#u4402_img,#u4411_img,#u4420_img,#u4429_img,#u4438_img,#u4447_img,#u4456_img,#u4465_img,#u4474_img,#u4483_img,#u4492_img,#u4501_img,#u4510_img,#u4519_img,#u4528_img,#u4537_img,#u4546_img,#u4555_img,#u4564_img,#u4573_img,#u4582_img,#u4591_img,#u4600_img,#u4609_img,#u4618_img,#u4627_img,#u4636_img,#u4645_img,#u4654_img,#u4663_img,#u4672_img,#u4681_img,#u4690_img,#u4699_img,#u4708_img,#u4717_img,#u4726_img,#u4735_img,#u4744_img
{
	margin-top: -2px;
	margin-bottom: -3px;
}

#u4163
{
	position: absolute;
	width: 850px;
	background-color: transparent;
}

#u4163popup
{
	z-index: 168;
}

#u4166-4
{
	z-index: 169;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4405-4
{
	z-index: 173;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4414-4
{
	z-index: 177;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4423-4
{
	z-index: 181;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4432-4
{
	z-index: 185;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4441-4
{
	z-index: 189;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4450-4
{
	z-index: 193;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4459-4
{
	z-index: 197;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4468-4
{
	z-index: 201;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4477-4
{
	z-index: 205;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4486-4
{
	z-index: 209;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4495-4
{
	z-index: 213;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4504-4
{
	z-index: 217;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4513-4
{
	z-index: 221;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4522-4
{
	z-index: 225;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4531-4
{
	z-index: 229;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4540-4
{
	z-index: 233;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4549-4
{
	z-index: 237;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4558-4
{
	z-index: 241;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4567-4
{
	z-index: 245;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4576-4
{
	z-index: 249;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4585-4
{
	z-index: 253;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4594-4
{
	z-index: 257;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4603-4
{
	z-index: 261;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4612-4
{
	z-index: 265;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4621-4
{
	z-index: 269;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4630-4
{
	z-index: 273;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4639-4
{
	z-index: 277;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4648-4
{
	z-index: 281;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4657-4
{
	z-index: 285;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4666-4
{
	z-index: 289;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4675-4
{
	z-index: 293;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4684-4
{
	z-index: 297;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4693-4
{
	z-index: 301;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4702-4
{
	z-index: 305;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4711-4
{
	z-index: 309;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4720-4
{
	z-index: 313;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4729-4
{
	z-index: 317;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4738-4
{
	z-index: 321;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4747-4
{
	z-index: 325;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4158-4
{
	position: absolute;
	width: 48px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 881px;
}

#u4158-4popup
{
	z-index: 329;
}

#u4161-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 850px;
}

#u4161-4popup
{
	z-index: 333;
}

#u4158,#u4161
{
	color: #999999;
}

#u4168-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 950px;
}

#u4168-4popup
{
	z-index: 337;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5975-6
{
	z-index: 345;
	width: 980px;
	min-height: 33px;
	background-color: transparent;
	color: #68667F;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#u5975-2
{
	font-size: 16px;
	line-height: 19px;
}

#u2490-4
{
	z-index: 351;
	width: 980px;
	min-height: 32px;
	padding-top: 14px;
	margin-left: 20px;
	margin-top: 10px;
}

#u2490-4:hover
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 10px 0px 0px 20px;
}

#u2490-4:active
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 10px 0px 0px 20px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

