.version.beam_project /* version checker */
{
	color: #00000E;
	background-color: #F9588D;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

#u2491
{
	z-index: 115;
	height: 62px;
	top: 0px;
}

#u2491-bw
{
	z-index: 115;
}

#u2492
{
	z-index: 116;
	height: 62px;
	top: 0px;
}

#u2492-bw
{
	z-index: 116;
}

#u2523
{
	z-index: 146;
	width: 84px;
	padding-bottom: 84px;
	margin-left: 19px;
}

#u2526
{
	z-index: 147;
	width: 84px;
	padding-bottom: 84px;
	top: 0px;
	left: 50%;
	margin-left: -491px;
}

#u2524
{
	z-index: 148;
	width: 80px;
	top: 2px;
	left: 50%;
	margin-left: -489px;
}

#pu2522-4
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: 113px;
	margin-top: -71px;
}

#u2522-4
{
	z-index: 142;
	width: 457px;
	min-height: 34px;
	top: 14px;
	left: 50%;
	margin-left: -397px;
}

#menuu2493
{
	z-index: 117;
	width: 419px;
	top: 14px;
	left: 50%;
	margin-left: 71px;
}

#u2494
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2497
{
	width: 97px;
	padding-bottom: 12px;
}

#u2497:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2500-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2497:hover #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497:active #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497.MuseMenuActive #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2501
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 99px;
}

#u2502
{
	width: 127px;
	padding-bottom: 12px;
}

#u2502:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502:active
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2504-4
{
	width: 80px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2502:hover #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502:active #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502.MuseMenuActive #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2508
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u2511
{
	width: 71px;
	padding-bottom: 12px;
}

#u2511:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511:active
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2514-4
{
	width: 24px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2511:hover #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511:active #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511.MuseMenuActive #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2515
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 301px;
}

#u2516
{
	width: 118px;
	padding-bottom: 12px;
}

#u2516:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2518-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2516:hover #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516:active #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516.MuseMenuActive #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu2736-3
{
	width: 0.01px;
	margin-top: -2px;
}

#u2736-3
{
	z-index: 2;
	width: 1020px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3835-4
{
	z-index: 101;
	width: 1020px;
	min-height: 42px;
	background-color: transparent;
	line-height: 36px;
	color: #68667F;
	font-size: 30px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3835
{
	font-family: coda, sans-serif;
	font-weight: 400;
}

#slideshowu3804
{
	z-index: 5;
	width: 0.01px;
	height: 577px;
	margin-left: 20px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3812
{
	position: absolute;
	width: 787px;
	height: 524px;
	background-color: transparent;
	top: 53px;
	left: 193px;
}

#u3812popup
{
	z-index: 6;
}

#u3815
{
	z-index: 7;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3899
{
	z-index: 9;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3908
{
	z-index: 11;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3917
{
	z-index: 13;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3926
{
	z-index: 15;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3935
{
	z-index: 17;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3944
{
	z-index: 19;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3953
{
	z-index: 21;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3971
{
	z-index: 23;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3980
{
	z-index: 25;
	width: 787px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3815_clip,#u3899_clip,#u3908_clip,#u3917_clip,#u3926_clip,#u3935_clip,#u3944_clip,#u3953_clip,#u3971_clip,#u3980_clip
{
	overflow: hidden;
	width: 787px;
	height: 524px;
}

#u3899_img,#u3908_img,#u3917_img,#u3926_img,#u3935_img,#u3944_img,#u3953_img,#u3971_img,#u3980_img
{
	margin-bottom: -1px;
}

#u3822
{
	position: absolute;
	width: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 139px;
	top: 53px;
}

#u3822popup
{
	z-index: 27;
}

#u3825
{
	z-index: 28;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3902
{
	z-index: 30;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u3825.SSSlideLinkSelected,#u3902.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3911
{
	z-index: 32;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u3920
{
	z-index: 34;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 96px;
}

#u3911.SSSlideLinkSelected,#u3920.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u3929
{
	z-index: 36;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
}

#u3938
{
	z-index: 38;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 96px;
}

#u3929.SSSlideLinkSelected,#u3938.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 147px -10000px 0px 0px;
}

#u3947
{
	z-index: 40;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u3956
{
	z-index: 42;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 96px;
}

#u3947.SSSlideLinkSelected,#u3956.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u3974
{
	z-index: 44;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
}

#u3983
{
	z-index: 46;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: 96px;
}

#u3974.SSSlideLinkSelected,#u3983.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 293px -10000px 0px 0px;
}

#u3825_clip,#u3902_clip,#u3911_clip,#u3920_clip,#u3929_clip,#u3938_clip,#u3947_clip,#u3956_clip,#u3974_clip,#u3983_clip
{
	overflow: hidden;
	width: 86px;
	height: 63px;
}

#u3825_img,#u3902_img,#u3911_img,#u3920_img,#u3929_img,#u3938_img,#u3947_img,#u3956_img,#u3974_img,#u3983_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u3807
{
	position: absolute;
	width: 850px;
	background-color: transparent;
}

#u3807popup
{
	z-index: 48;
}

#u3811-4
{
	z-index: 49;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3905-4
{
	z-index: 53;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3914-4
{
	z-index: 57;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3923-4
{
	z-index: 61;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3932-4
{
	z-index: 65;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3941-4
{
	z-index: 69;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3950-4
{
	z-index: 73;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3959-4
{
	z-index: 77;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3977-4
{
	z-index: 81;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3986-4
{
	z-index: 85;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3831-4
{
	position: absolute;
	width: 48px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 881px;
}

#u3831-4popup
{
	z-index: 89;
}

#u3821-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 850px;
}

#u3821-4popup
{
	z-index: 93;
}

#u3831,#u3821
{
	color: #999999;
}

#u3832-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 950px;
}

#u3832-4popup
{
	z-index: 97;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5974-6
{
	z-index: 105;
	width: 980px;
	min-height: 33px;
	background-color: transparent;
	color: #68667F;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 23px;
	position: relative;
}

#u5974-2
{
	font-size: 16px;
	line-height: 19px;
}

#u2490-4
{
	z-index: 111;
	width: 980px;
	min-height: 32px;
	padding-top: 14px;
	margin-left: 20px;
	margin-top: 10px;
}

#u2490-4:hover
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 10px 0px 0px 20px;
}

#u2490-4:active
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 10px 0px 0px 20px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

