.version.cv /* version checker */
{
	color: #0000F2;
	background-color: #7AAD11;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 981px;
	min-height: 499.84999999999945px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
	padding-left: 20px;
	padding-right: 19px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u1450
{
	z-index: 13;
	height: 62px;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: fixed;
	top: 0px;
}

#u1450-bw
{
	z-index: 13;
}

#u1426
{
	z-index: 12;
	height: 62px;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: fixed;
	top: 0px;
}

#u1426-bw
{
	z-index: 12;
}

#u1422
{
	z-index: 43;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 84px;
	position: relative;
}

#u1425
{
	z-index: 44;
	width: 84px;
	background-color: #FFFFFF;
	border-radius: 200px;
	padding-bottom: 84px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -490px;
}

#u1423
{
	z-index: 45;
	width: 80px;
	background-color: transparent;
	position: fixed;
	top: 2px;
	left: 50%;
	margin-left: -488px;
}

#pu1449-4
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: 94px;
	margin-top: -71px;
}

#u1449-4
{
	z-index: 39;
	width: 457px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	color: #68667B;
	font-size: 24px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -396px;
}

#menuu1427
{
	z-index: 14;
	width: 419px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 71px;
}

#u1442
{
	width: 97px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1443
{
	width: 97px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u1443:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1443:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1445-4
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u1443:hover #u1445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1443:active #u1445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1443.MuseMenuActive #u1445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1443:hover #u1445-4 p
{
	color: #908299;
	visibility: inherit;
}

#u1443:active #u1445-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u1760
{
	width: 127px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u1763
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u1763:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u1763:active
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u1766-4
{
	width: 80px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u1763:hover #u1766-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u1763:active #u1766-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u1763.MuseMenuActive #u1766-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u1763:hover #u1766-4 p
{
	color: #908299;
	visibility: inherit;
}

#u1763:active #u1766-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u1511
{
	width: 71px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u1514
{
	width: 71px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u1514.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u1517-4
{
	width: 24px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u1514:hover #u1517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1514:active #u1517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1514.MuseMenuActive #u1517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1514:hover #u1517-4 p
{
	color: #908299;
	visibility: inherit;
}

#u1514:active #u1517-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u1428
{
	width: 118px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u1431
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u1431:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1431:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1432-4
{
	width: 71px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u1431:hover #u1432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1431:active #u1432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1431.MuseMenuActive #u1432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1431:hover #u1432-4 p
{
	color: #908299;
	visibility: inherit;
}

#u1431:active #u1432-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u1443.MuseMenuActive #u1445-4 p,#u1763.MuseMenuActive #u1766-4 p,#u1514.MuseMenuActive #u1517-4 p,#u1431.MuseMenuActive #u1432-4 p
{
	color: #2C1D30;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1685
{
	width: 0.01px;
	margin-top: 46px;
}

#u1685
{
	z-index: 6;
	width: 982px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1691-4
{
	z-index: 8;
	width: 152px;
	min-height: 19px;
	background-color: transparent;
	color: #817CB0;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2495px;
	left: 415px;
}

#u1418-4
{
	z-index: 2;
	width: 980px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 14px;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u1418-4:hover
{
	background-color: transparent;
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 16px 0px 0px;
}

#u1418-4:active
{
	background-color: transparent;
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 16px 0px 0px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

