.version.cv /* version checker */
{
	color: #00001F;
	background-color: #481358;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6654613466349px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 47px;
	width: 0.01px;
}

#pu2112
{
	width: 0.01px;
}

#u2112
{
	z-index: 12;
	height: 62px;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u2112-bw
{
	z-index: 12;
	height: 62px;
}

#u2113
{
	z-index: 13;
	height: 62px;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.js #u2113.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2113-bw
{
	z-index: 13;
	height: 62px;
}

#menuu2114
{
	z-index: 14;
	width: 420px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 344px;
}

#u2115
{
	width: 98px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2116
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u2116:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2116:active
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2117-4
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 24px;
}

#u2116:hover #u2117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2116:active #u2117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2116.MuseMenuActive #u2117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2116:hover #u2117-4 p
{
	color: #908299;
	visibility: inherit;
}

#u2116:active #u2117-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u2122
{
	width: 71px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u2123
{
	width: 71px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u2123.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2125-4
{
	width: 24px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2123:hover #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2123:active #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2123.MuseMenuActive #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2123:hover #u2125-4 p
{
	color: #908299;
	visibility: inherit;
}

#u2123:active #u2125-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u2129
{
	width: 118px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u2130
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u2130:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2130:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2131-4
{
	width: 71px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2130:hover #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2130:active #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2130.MuseMenuActive #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2130:hover #u2131-4 p
{
	color: #908299;
	visibility: inherit;
}

#u2130:active #u2131-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u2136
{
	width: 127px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u2139
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u2139:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2139:active
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2141-4
{
	width: 80px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #68667B;
	font-size: 18px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2139:hover #u2141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2139:active #u2141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2139.MuseMenuActive #u2141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2139:hover #u2141-4 p
{
	color: #908299;
	visibility: inherit;
}

#u2139:active #u2141-4 p
{
	color: #453C51;
	visibility: inherit;
}

#u2116.MuseMenuActive #u2117-4 p,#u2123.MuseMenuActive #u2125-4 p,#u2130.MuseMenuActive #u2131-4 p,#u2139.MuseMenuActive #u2141-4 p
{
	color: #2C1D30;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2143-4
{
	z-index: 39;
	width: 246px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	color: #68667B;
	font-size: 24px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 98px;
}

#u2144
{
	z-index: 43;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u2147
{
	z-index: 44;
	width: 84px;
	background-color: #FFFFFF;
	border-radius: 200px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u2145
{
	z-index: 45;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#pu2109
{
	width: 0.01px;
	margin-top: 15px;
}

#u2109
{
	z-index: 6;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2111-4
{
	z-index: 8;
	width: 152px;
	min-height: 19px;
	background-color: transparent;
	color: #817CB0;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1969px;
	left: 308px;
}

#u2108-4
{
	z-index: 2;
	width: 773px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 14px;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 38px;
	position: relative;
}

#u2108-4:hover
{
	background-color: transparent;
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 773px;
	margin: 38px 0px 0px;
}

#u2108-4:active
{
	background-color: transparent;
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 773px;
	margin: 38px 0px 0px;
}

#u2108-4.MuseLinkActive
{
	background-color: transparent;
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 773px;
	margin: 38px 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

